Source: libsdlada2
Priority: optional
Section: libdevel
Maintainer: Ludovic Brenta <lbrenta@debian.org>
Build-Depends: debhelper-compat (= 12)
Build-Depends-Arch: dh-sequence-ada-library, gnat, gnat-9, gprbuild,
 libsdl2-dev, libsdl2-image-dev, libsdl2-ttf-dev
Build-Depends-Indep: 
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/Lucretia/sdlada
Homepage: https://github.com/Lucretia/sdlada
Rules-Requires-Root: no

Package: libsdlada2-0-dev
Architecture: any
Depends: libsdl2-dev, libsdl2-image-dev, libsdl2-ttf-dev,
 ${misc:Depends}, ${ada:Depends}
Recommends: libsdlada2-doc
Description: Ada binding to SDL2 - development files
 This package contains the static library, Ada specification files and
 examples.  Install it if you want to develop SDL2 applications in
 Ada.

Package: libsdlada2-0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ada binding to SDL2 - runtime
 This package contains the runtime shared library.
