#!/usr/bin/make -f
# Build script for XML/Ada in Debian.
# Copyright (c) 2020 Ludovic Brenta <lbrenta@debian.org>
#
# This software is provided 'as-is', without any express or implied
# warranty. In no event will the authors be held liable for any damages
# arising from the use of this software.
#
# Permission is granted to anyone to use this software for any purpose,
# including commercial applications, and to alter it and redistribute it
# freely, subject to the following restrictions:
#
#    1. The origin of this software must not be misrepresented; you must not
#    claim that you wrote the original software. If you use this software
#    in a product, an acknowledgment in the product documentation would be
#    appreciated but is not required.
#
#    2. Altered source versions must be plainly marked as such, and must not be
#    misrepresented as being the original software.
#
#    3. This notice may not be removed or altered from any source
#    distribution.

include /usr/share/dpkg/default.mk
include /usr/share/ada/debian_packaging-9.mk

VERSION=libsdlada2.so.0
SDL_SWITCHES := -XSDL_SWITCHES="$(shell sdl2-config --cflags)"
GPRBUILD := gprbuild -Pdebian/build_sdlada2 $(SDL_SWITCHES) $(BUILDER_OPTIONS) -p
GPRCLEAN := gprclean -Pdebian/build_sdlada2 $(SDL_SWITCHES)

POLICY_TARGETS := binary binary-arch binary-indep build build-arch \
 build-indep install clean
.PHONY: $(POLICY_TARGETS)
$(POLICY_TARGETS):
	dh $@ --with ada-library

override_dh_auto_build-arch:
	make -C build/gnat gen/src/sdl-events-keyboards.ads
	$(GPRBUILD) -XLIBRARY_KIND=static
	$(GPRBUILD) -XLIBRARY_KIND=dynamic -XVERSION=$(VERSION)

override_dh_auto_clean:
	make -C build/gnat clean
	-$(GPRCLEAN) -XLIBRARY_KIND=static
	-$(GPRCLEAN) -XLIBRARY_KIND=dynamic -XVERSION=$(VERSION)
	rm -rf $(foreach d,static dynamic,.$(d) $(d)) $(foreach l,debug release,build/gnat/gen/$(l))

# Maintainer scripts:
# I have cloned upstream's git repository, so upstream is branch master.
# I make changes to upstream as commits to the debian/patches branch.
# The packaging scripts are in the debian/master branch.

include /usr/share/dpkg/pkg-info.mk

get-orig-source: clean
# Reconstructs the upstream tarball from the master branch of this git repo.
	git checkout master && \
	tar --create --file=../$(DEB_SOURCE)_$(DEB_VERSION_UPSTREAM).orig.tar.xz \
		--exclude-vcs \
		--exclude=.pc \
		--transform="s,^.,$(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM),g" \
		--auto-compress \
		.
	@echo "Switched to branch master."

debian/patches/series: force
# Regenerate the quilt patch series from the debian/patches branch.
# The quilt series exists only in the debian/master branch.
	rm -rf .pc
	git checkout debian/master
	git format-patch --output-directory debian/patches master..debian/patches
	(cd debian/patches; ls -1 *.patch) > $@
	@echo "Switched to branch debian/master."

.PHONY: force clean
